<div id="<%= dom_id post %>">
  <p>
    <strong>Title es:</strong>
    <%= post.title_es %>
  </p>

  <p>
    <strong>Title en:</strong>
    <%= post.title_en %>
  </p>

  <p>
    <strong>Body es:</strong>
    <%= post.body_es %>
  </p>

  <p>
    <strong>Body en:</strong>
    <%= post.body_en %>
  </p>

</div>
